html{
    scroll-behavior: smooth;
  }
  :root{
      --blue: #007bff;
  }
  h1,h2,h3,h4,h5,h6{
      padding: 0;
      margin: 0;
  }
  p{
      padding: 0;
      margin: 0;
  }
  ul{
      padding: 0;
      margin: 0;
  }
  h1{
      font-weight: bold;
  }
  .form-control{
      height: 50px;
      margin-bottom: 15px;
  }
  .section-title{
      margin-bottom: 50px;
      text-align: center;
  }
  .float-right{
      float: right!important;
  }
  .btn{
      text-align: center;
      background-color: var(--blue);
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 12px 20px;
      transition: .5s all ease;
  }
  .btn:hover{
      background-color: #9ecafc;
      color: #ffffff;
  }
  section{
      padding: 100px 0;
  }
  .mb-50{
    margin-bottom: 50px;
}
 .mb-30{
    margin-bottom: 30px;
}

  /* =====================================
===============Header Top===============
===================================== */
.header-top-area{
    padding: 10px 0;
    background-color: #0050a7;
    color: #fff;
}
.header-top-area a{
    color: #fff;
}
.top-left-area a{
    text-decoration: none;
}

@media only screen and (max-width:575px){
    .top-address{
        display: none;
    }
}
/* =====================================
===============Navbar===============
===================================== */



  .navbar{
      background-color: var(--blue);
  }
  .navbar-brand{
      color: #fff!important;
  }

  .nav-link{
    color: #fff!important;
  }
  .nav-link:hover{
      color: rgb(82, 81, 81);
      
      transition: 1s all ease;
  }
  .nav-btn{
      margin-left: 10px;
  }
  .nav-btn .btn{
      background-color: #005ec2;
      border: 2px solid #005ec2;
  }
  .nav-btn .btn:hover{
    background-color: transparent;
    border-color: #fff;
}
/* =====================================
===============Main Banner===============
===================================== */
.main-banner-text h4{
    font-size: 50px;
    font-weight: bold;
}
.main-banner-text p{
    font-size: 20px;
}
.main-banner-box{
    position: relative;
    overflow: hidden;
}
.main-banner-text{
    position: absolute;
    top: 170px;
    
}
/* =====================================
===============Contact===============
===================================== */
  .contact-icon a{
    color: black;
    text-decoration: none;
}
.colour{
    color: var(--blue);
}
.about-img{
    transition: .7s all ease-in;
}
.contact-mail{
    margin-left: 78px;
}
@media only screen and (max-width:575px){
    .contact-form-mail,
    .contact-form-name{
        display: block!important;
    }
    .contact-number-mail,
    .contact-location-time{
        display: block!important
    }
    .contact-mail{
        margin-left: 0;
    }
}
/* =====================================
===============Property===============
===================================== */
.property-box{
    border: 1px solid #f0ecec;
    margin-bottom: 30px;
}
#property{
    padding-bottom: 70px;
}
.property-location a{
    color: black;
    text-decoration: none;
}
.property-last-icon a{
    color: black;
    text-decoration: none;
}
@media only screen and (max-width:767px) and (min-width:570px){
    .property-last-icon a{
        font-size: 14px;
    }
    
}

/* =====================================
===============Team===============
===================================== */
.team-box{
    border: 1px solid #cdcdcd;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
   
}
#team{
    padding-bottom: 70px;
}
.team-img img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 25px;
    
}
.team-text{
    border: 1px solid #cdcdcd;
    transition: .5s all ease;
}
.team-icon a{
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.team-icon{
    position: absolute;
    top: -150px;
    left: 0;
    padding: 0 10px;
    /* right: 235px; */
    transition: 1s all ease;
}
.team-box:hover .team-icon{
    top: 0;
    background-color: var(--blue);
    color: #ffffff;
}
.team-box:hover .team-text{
    background-color: var(--blue);
    color: #ffffff;
}
/* =====================================
===============About=================
===================================== */
.about-img{
    margin-bottom: 30px;
}
#about{
    padding-bottom: 7       0px;
}
.about-heading p{
    font-weight: bold;
}
/* =====================================
===============Blog=================
===================================== */
.blog-icon{
    position: relative;
    top: -23px;
    background-color: #f7f7f7;
    padding: 10px 0;
    margin: 0 15px;
}
.blog-icon a{
    text-decoration: none;
    
    color: black;
}
.blog-color{
    color: var(--blue);
}
.blog-box{
    border: 1px solid #f0ecec;
    margin-bottom: 30px;
}
#blog{
    padding-bottom: 70px;
}
.blog-btn a{
    text-decoration: none;
}
/* =====================================
===============Service===============
===================================== */
.service-box{
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    padding: 5px 0 15px 0;
}
.service-icon a{
    font-size: 100px;
}
.service-text{
    font-size: 17px;
    font-weight: bold;
}
.service-box:hover{
    color: #ffffff;
    background-color: var(--blue);
}
.service-box:hover .service-icon a{
    color: #ffffff;
}
/* =====================================
===============Place===============
===================================== */
.place-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.place-heading{
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    background-color: #00000057;
    color: #ffffff;
}
.place-box-long{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.place-heading-long{
    position: absolute;
    /* top: 330px; */
    bottom: 0;
    padding: 10px 0;
    background-color: #00000057;
    color: #ffffff;   
}

/* =====================================
===============Packages===============
===================================== */
.small{
    font-size: 13px;
    margin-bottom: 6px;
}
.package-box{
    border: 1px solid #cdcdcd;
    transition: .8s all ease;
}
.package-price{
    background-color: rgba(85, 84, 84, 0.39);
    color: white;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 75px;
    height: 75px;
    text-align: center;
}
.heading-size{
    font-size: 14px;
}

/* =====================================
===============Testimonial==============
===================================== */


.testimonial-img{
    background-color: #fff;
}
.testimonial-img img{
    position: relative;
    top: 30px;
    border: 6px solid #005fc4;
    border-radius: 85px;
}
.testimonial-icon a{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    border: 4px solid var(--blue);
    padding-left: 9px;
    padding-top: 4px;
    background-color: #ffffff;
}
.testimonial-box{
    background-color: var(--blue);
}
.testimonial-heading{
    color: #ffffff;
    padding-top: 40px;
}
.testimonial-paragraph{
    color: #ffffff;
    padding-left: 20px ;
    padding-right: 20px;
}
/* =====================================
===============Footer===============
===================================== */

footer{
    padding-top: 80px;
    padding-bottom: 30px;
}
.footer-img img{
    width: 30%;
}
.footer-icon a{
    border: 1px solid #cdcdcd;
    height: 40px;
    width: 40px;
    line-height: 38px;
    padding-left: 10px;
    display: inline-block;
    transition: .5s all ease;   
}
.footer-icon a:hover{
    background-color: var(--blue);
}
.quick-link ul{
    list-style: none;
}
.quick-link h3{
    font-weight: bold;
}
.quick-link a{
    color: #ffffff;
}
.quick-link h4{
    color: #ffffff;
}
.margin{
    margin-bottom: 4px;
    color: #ffffff;
}
.margin:hover{
    color: var(--blue);
}
.margin-date{
    margin-bottom: 4px;
    color:  #878787;
}
.latest-news h4{
    color: #ffffff;
}
.quick-link li{
    transition: .5s all ease;
    
}
.quick-link li:hover{
    margin-left: 10px;
}
.quick-link a{
    text-decoration: none;
}
.footer-img-box{
    color: #ffffff;
}
.footer-img-box a{
    color: #ffffff;
}

@media only screen and (max-width: 991px){
    .hide-address{
        display: none;
    }
}
@media only screen and (max-width: 481px){
    .hide-no{
        display: none;
    }
    .top-social a{
        text-align: center!important;
    }
}