html{
    scroll-behavior: smooth;
  }
  :root{
      --blue: #007bff;
  }
  h1,h2,h3,h4,h5,h6{
      padding: 0;
      margin: 0;
  }
  ul{
      padding: 0;
      margin: 0;
  }
  h1{
      font-weight: bolder;
      color: var(--blue);
  }

  .btn{
      text-align: center;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 17px;
      font-size: 18px;
  }
  .btn:hover{
      background-color: #9ecafc;
      color: #ffffff;
  }
  section{
      padding: 100px 0;
  }
  footer{
    padding: 100px 0;
}


  /* =====================================
===============Header Top===============
===================================== */
  .header-top-area{
      background-color: #007bff;
  }
  .header-top a{
    color: white;
    text-decoration: none;
  }
  .top-color{
      font-weight: bold;
  }
/* =====================================
===============Navbar===============
===================================== */
  .navbar{
      padding: 25px 8%;
      background-color: rgb(170, 165, 165);
  }
  .navbar-brand{
      margin-right: 40px;
      padding-left: 10px;
      color: white;
  }
  .navbar-nav{
      margin-left: 14%;
      padding-left: 16%;
  }
  .nav-link{
    color: white;
  }
  .nav-link:hover{
      color: rgb(82, 81, 81);
      
      transition: 1s all ease;
  }
  .free-btn:hover{
    background-color: #9ecafc;
    color: #ffffff;
  }

/* =====================================
===============Contact===============
===================================== */
  .contact-icon a{
    color: black;
    text-decoration: none;
}
.colour{
    color: #007bff;
}
.contact-form .form-control{
    border-radius: 10px;
}
.about-img{
    transition: .7s all ease-in;
}
.number{
    margin-right: 15%;
}

/* =====================================
===============Team===============
===================================== */
.team-box{
    border: 1px solid #cdcdcd;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
   
}

.team-img img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 25px;
    
}
.team-text{
    border: 1px solid #cdcdcd;
    transition: .5s all ease;
}
.team-icon a{
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.team-icon{
    position: absolute;
    top: -150px;
    right: 235px;
    transition: 1s all ease;
    border-radius: 20px 0 20px 0;
}
.team-box:hover .team-icon{
    top: 0;
    background-color: #007bff;
    color: #ffffff;
}
.team-box:hover .team-text{
    background-color: #007bff;
    color: #ffffff;
}
/* =====================================
===============Packages===============
===================================== */
.service-icon a{
    font-size: 100px;
}
.service-text{
    font-size: 17px;
    font-weight: bold;
    transition: .7s all ease;
}
.service-box:hover{
    color: #ffffff;
    background-color: #007bff;
    padding: 5px 0 15px 0;
}
.service-box:hover .service-icon a{
    color: #ffffff;
}
/* =====================================
===============Packages===============
===================================== */
.small{
    font-size: 13px;
    margin-bottom: 6px;
}
.package-box{
    border: 1px solid #cdcdcd;
    transition: .8s all ease;
}
.package-price{
    background-color: rgba(85, 84, 84, 0.39);
    color: white;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 75px;
    height: 75px;
    text-align: center;
}
.heading-size{
    font-size: 14px;
}

/* =====================================
===============Testimonial==============
===================================== */

/* .testimonial-img{
    position: relative;
    top: -40px;
} */


.testimonial-img img{
    display: block;
    width: 100%;
    position: relative;
    border-radius: 50px;
    top: -30px;
    border: 10px solid #1e6abb;
}
.testimonial-icon a{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    border: 4px solid #007bff;
    padding-left: 9px;
    padding-top: 4px;
    background-color: #ffffff;
}
.testimonial-box{
    background-color: #007bff;
}
.testimonial-heading{
    color: #ffffff;
    padding-top: -10px;
}
.testimonial-paragraph{
    color: #ffffff;
    padding-top: 20px;
}
/* =====================================
===============Footer===============
===================================== */
.footer-img img{
    width: 30%;
}
.footer-icon a{
    border: 1px solid #cdcdcd;
    height: 40px;
    width: 40px;
    line-height: 38px;
    padding-left: 10px;
    display: inline-block;
    transition: .5s all ease;   
}
.footer-icon a:hover{
    background-color: #007bff;
}
.quick-link ul{
    list-style: none;
}
.quick-link h3{
    font-weight: bold;
}
.quick-link a{
    color: #ffffff;
}
.quick-link h4{
    color: #ffffff;
}
.margin{
    margin-bottom: 4px;
    color: #ffffff;
}
.margin:hover{
    color: #007bff;
}
.margin-date{
    margin-bottom: 4px;
    color:  #878787;
}
.latest-news h4{
    color: #ffffff;
}
.quick-link li{
    transition: .5s all ease;
    
}
.quick-link li:hover{
    margin-left: 10px;
}
.quick-link a{
    text-decoration: none;
}
.footer-img-box{
    color: #ffffff;
}
.footer-img-box a{
    color: #ffffff;
}